.swiper-slide{
        
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #topper{
    height: 1cm;
  }
  .swiper{
   height: 100%;
  }
  #swiper-wrapper img{
    border: 1px solid rgba(0, 0, 0, 0.299);
  }
  #main{
    margin:1px 3px;
    border: 1px solid rgba(0, 0, 0, 0.199);
    border-radius: 4px;
    width: 21.1cm;
  }
  #image{
    height: 12cm;
    border: 1px solid rgba(0, 0, 0, 0.199);
    width: 21cm;

  }
  #prev{
    background-color: rgba(0, 0, 0, 0.18);
    padding: 10px 19px;
    border-radius: 100%;
   color: white;
  }
 #next{
    
background-color:  rgba(0, 0, 0, 0.18);
    
padding: 10px 19px;
    
border-radius: 100%;
    
color: white;
  }
  .swiper{
    border: 1px solid rgba(0, 0, 0, 0.299);
    padding-right: 2px;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: black;
  
  }
  .swiper-slide img{
 height: 100%;
   
  }
  /* span{
    border: 1px solid teal;
  } */
  .class1{
    width: 21cm;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-left: 17px;
    line-height: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    opacity: .90;
    
    
  }
  h3{
    padding-left: 17px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #002f34;
  }
  #details{
    border: 1px solid rgba(0, 0, 0, 0.299);
    font-family: Arial, Helvetica, sans-serif;
    margin:0px 3px;
    border-radius: 4px;
    width: 21.1cm;
  }
 #details p{
    padding-left: 17px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    opacity: .90;
 }
 #related{
    border: 1px solid rgba(0, 0, 0, 0.299);
    width: 21.1cm;
    margin-left: 3px;
    border-radius: 4px;
    margin-top: 8px;
 }
 .class2{
  width: 21.1cm;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  height: 8cm;
  border: 1px solid crimson;

 }
 .class2 img{
  height: 3.9cm;
 }
 .class2 >div {
  border: 1px solid crimson;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 10px;
    height: 3.9cm;

 }

.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 48
}
#buttonimg img{
height: 60px;
width: 60px;

border-radius: 3px;

}
#buttonimg{
display: flex;

}
#buttonimg button{
margin: 15px 30px 10px 30px;
}
/* .div1 {
  
  

} */
:root {
    --swiper-navigation-size: 30px;
}

